@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
 background-attachment: fixed;
 overflow: hidden;

}
.body {
    background: #1C8EF9 !important;
    min-height: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;   /* Center vertically */
    font-weight: 400; 
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
}
.login-container {
    background-size: cover;
    height: 100%;
    margin-top: 0;
    align-items: center; 
    background-position: center;
  } 

  .auth {
    margin-top: 30px;
    color: white; /* Button text color */
    padding: 15px 30px; /* Button padding */
    font-size: 18px; /* Button font size */
    border-radius: 5px; /* Rounded corners */
    width: 100%; /* Full width buttons */
    height: 150px;
  }
  .auth1 {
    margin-top: 5px;
    color: white; /* Button text color */
  
    font-size: 18px; /* Button font size */
    border-radius: 5px; /* Rounded corners */
    width: 100%; /* Full width buttons */
   
  }

.auth-button {
    margin-top: 30px;
    background-color: #83b0da; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    padding: 15px 30px; /* Button padding */
    font-size: 18px; /* Button font size */
    border-radius: 20px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    width: 100%; /* Full width buttons */
    max-width: 300px; /* Max width for buttons */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Slight shadow */
    transition: background-color 0.3s; /* Smooth background color transition */
    height: 100px;
  }
  
  .auth-button:hover {
    background-color: #155b9a; /* Darker blue on hover */
  }

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 0;
  margin: 0;

  
}
.auth-inner {
  width: 40%; /* Default width for larger screens */
 
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 0px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
  color: black;
  background-size: cover;

}

@media (max-width: 992px) {
  .auth-inner {
    width: 60%; /* Width for medium screens */
  }
}

@media (max-width: 768px) {
  .auth-inner {
    width: 80%; /* Width for smaller screens */
  }
}
@media (max-width: 600) {
  .auth-inner {
    width: 95%; /* Width for smaller screens */
    height: 100%;
  }
}


