.user-info-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px; /* New style */
}

.user-info-item {
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
  font-size: 18px; /* New style */
}

.info-value {
  margin-left: 10px;
  font-size: 18px; /* New style */
}
